/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron{
  background-color: #ffe0b2;
}
.centrado{
  text-align: center;
}
.imagenJumbo{
  width: 100%;
}